<div>
    <h2 id="page-heading">
        <span jhiTranslate="crmApp.sprawa.home.title">Sprawas</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-sprawa" [routerLink]="['/sprawa/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="crmApp.sprawa.home.createLabel">
            Create new Sprawa
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="sprawas">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="crmApp.sprawa.stan">Stan</span></th>
            <th><span jhiTranslate="crmApp.sprawa.kwota">Kwota</span></th>
            <th><span jhiTranslate="crmApp.sprawa.klient">Klient</span></th>
            <th><span jhiTranslate="crmApp.sprawa.adres">Adres</span></th>
            <th><span jhiTranslate="crmApp.sprawa.telefon">Telefon</span></th>
            <th><span jhiTranslate="crmApp.sprawa.status">Status</span></th>
            <th><span jhiTranslate="crmApp.sprawa.numer">Numer</span></th>
            <th><span jhiTranslate="crmApp.sprawa.utworzona">Utworzona</span></th>
            <th><span jhiTranslate="crmApp.sprawa.data">Data</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sprawa of sprawas ;trackBy: trackId">
                <td><a [routerLink]="['/sprawa', sprawa.id, 'view' ]">{{sprawa.id}}</a></td>
                <td>{{sprawa.stan}}</td>
                <td>{{sprawa.kwota}}</td>
                <td>{{sprawa.klient}}</td>
                <td>{{sprawa.adres}}</td>
                <td>{{sprawa.telefon}}</td>
                <td>{{sprawa.status}}</td>
                <td>{{sprawa.numer}}</td>
                <td>{{sprawa.utworzona | date:'mediumDate'}}</td>
                <td>{{sprawa.data | date:'mediumDate'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/sprawa', sprawa.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/sprawa', sprawa.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'sprawa/'+ sprawa.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
